.grid__wrapper {
    margin: auto;
    max-width: 1477px;
    padding: 0 80px;
    @media screen and (max-width: 1477px) {
        padding: 0 40px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 30px;
    }
}


.grid__container {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    // margin-right: -10%;
    @media screen and (max-width: 1380px) {
        margin-right: -6%;
    }
    @media screen and (max-width: 1266px) {
        margin-right: -4%;
    }
    @media screen and (max-width: 1260px) {
        margin-right: 0;
    }
    @media screen and (max-width: 1000px) {
        margin-right: -50px;
    }
}

.grid__container > * {
    padding: 20px 0px 0px 0px;
    flex: 100%;
    @media screen and (max-width: 1260px) {
        padding: 20px 60px 0 0;
        margin-right: 0;
    }
    @media screen and (max-width: 1000px) {
        padding: 20px 40px 0 0;
        margin-right: 0;
    }
}