  
.cardText__container {
    display: flex;
    min-height: 0;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(207, 203, 202);
    border-radius: 8px;
    max-height: 200px;
    width: 24%;
    min-width: 24%;
    flex-direction: column;
    // justify-content: space-around;
    padding: 10px;
    margin: 2% 0;
    @media screen and (max-width: 910px) {
      width: 48%;
    }
    @media screen and (max-width:640px) {
      width: 100%;
    }
  
    .--title {
      display: flex;
      padding-bottom: 20px;
      .--title__card {
        color: $mediamarkt;
        white-space: normal;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin: 0;
        font-weight: bold;
        letter-spacing: normal;
        padding-top: 0px;
        text-transform: none;
        line-height: 28px;
        font-size: 24px !important;
        max-height: calc(56px);
      }
      .--subtitle__card {
        font-size: 0.8rem;
      }
    }
  }