.grid__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    @media screen and (max-width: 1380px) {
        margin-right: -6%;
    }
    @media screen and (max-width: 1266px) {
        margin-right: -4%;
    }
    @media screen and (max-width: 1260px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1000px) {
        margin-right: -50px;
    }
}

.grid__container > * {
    margin: 24px auto;
    flex: 1 1 auto;
    @media screen and (max-width: 1260px) {
        // width: calc(50% - 48px);
    }
    @media screen and (max-width:800px) {
        padding: 20px 40px 0 0;
        margin-right: 0;
        width: calc(100% - 48px);
    }
}