.mm__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: flex;
  z-index: 9999;
  .mm__modal {
    position: relative;
    justify-content: center;
    flex-flow: row;
    justify-content: space-between;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.74);
    display: block;
    padding: 0% 0%;
    .margin_button {
      background-color: white;
      height: 25px;
      position: absolute;
    }
    .margin_footer {
      background-color: white;
      height: 25px;
      margin-top: -4px;
    }
    .mm__modal-iframe {
      width: 90%;
      background: #ffff;
      position: relative;
      top: 2%;
      max-width: 1077px;
      overflow: auto;
      height: auto;
      @media screen and (min-width: 1477px) {
        top: 10vw;
        transform: translate(-50%);
        left: 50%;
      }
      @media screen and (max-width: 1477px) {
        width: 94%;
        margin: auto;
      }

      .modal__content{
        padding: 40px;
        ul li::marker {
          content: "\2713";
          color: #df0000;
          font-weight: bold;
        }
        h4{
          padding-left: 4px;
        }
      }

      .mm__modal-close-button {
        cursor: pointer !important;
        border: none;
        background-color: white;
        color: black;
        font-size: 30px;
        position: absolute;
        top: 0px;
        right: 0%;
        z-index: 8000;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: wrap;
        &:hover {
          background-color: $button-primary;
          color: white;
        }
      }
    }
  }
}

.staked_modal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #df0000;
  font-size: 20px;
  border-top: 3px solid;
  padding: 20px 0px;
  margin-top: 10px;
  font-family: "MMHeadlineWebTT-Regular","MMHeadline-regular",Helvetica,Arial,sans-serif!important;
  font-weight: 700!important;
}

.stepper_modal {
  @extend .staked_modal;
  color: black;
  border-top: unset;
}

ul{
  text-indent: 10px;
  padding-left: 10px;
}

ol, ul {
  list-style: decimal;
  text-indent: 10px;
  padding-left: 23px;
}

#iframeHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1477px) {
    width: 1477px;
    height: 831px;
  }
}
