.privacypolicy__container {
  margin-top: 20px;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  position: absolute;
  & > input {
    margin: 0 0.7rem 0 0;
  }
  .container__input {
    .span__required {
      display: none;
    }
    .input__error {
      border-top: none;
    }
  }
  .label--policy {
    display: inline-block;
    margin-bottom: 0.5rem;
    a .--link {
      color: $mediamarkt;
      text-decoration: none;
      padding: 2px 5px;
      &:hover {
        color: blue;
      }
    }
  }
}


