
.section__img{
  // flex-wrap: wrap;
  // display: flex;
  // margin: auto;
  // -webkit-box-align: center;
  // align-items: center;
  // align-content: center;
  // -webkit-box-pack: justify;
  // justify-content: center;
  // max-width: 1472px;
  // margin-top: 80px;
  // margin-bottom: 80px;
    flex-wrap: wrap;
    display: flex;
    margin: 70px 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;

  &.imgRight{
    flex-direction: row-reverse;
  }

  img{
    // max-width:80%;
    // flex:1;
    border-radius: 8px;
    flex-basis: calc(50% - 32px);
    order: 1;
  }

  .section__text{
    // flex:1;
    // padding: 0px 32px;
    // font-size: 20px;
    text-align: left;
    flex-basis: calc(50% - 32px);
    padding: 0px 16px;
    margin-top: 0px;

    p {
      margin: 16px auto !important;
    }

    ul li {
      position: relative;
      padding-bottom: 10px;
      list-style: inside;
    }
    
    ul {
      // list-style: none;
      padding-left: 34px;
      padding-top: 22px;
      margin-top: 16px;
      
    }
    
    // ul li:before{
    //     content: '';
    //     position: absolute;
    //     border-right:2px solid #df0000;
    //     border-bottom:2px solid #df0000;
    //     width:10px;
    //     height:10px;
    //     top: calc(50% - 4px);
    //     left: -20px;
    //     transform: translateY(-50%) rotate(-45deg);
    // }

    .button__more{
      display: block;
      margin: 30px 20px;
      font-size: 16px;
      border-bottom:2px solid #df0000;
      padding-bottom: 6px;
      width:80px;
      cursor: pointer;
    }

    @media only screen and (max-width: 1093px) {
      // width: 100vw;
    }

  }
  @media only screen and (max-width: 1250px) {
    img {
      margin: auto;
      margin-top: 44px;
      width: 100%;
    }
    .section__text {
      flex-basis: calc(100% - 0px);
    }
}
}
