.section__intro {
    margin: 46px auto;
    max-width: 1477px;
    flex-flow: wrap;
    display: flex;
    align-items: center;
    @media screen and (min-width: 893px) {
      margin-top: 0px;
    }
  }
  
  .section {
    overflow: hidden;
  }
  .section-colorized{
    background-color:$mediamarkt
  }
  .container__logo__header {
    .--img {
      background-image: url("https://specials.mediamarkt.es/assets-react/b2b/Logo_MMBusiness.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 120px;
      width: 240px;
    }
    width: 25%;
    margin: 0 auto auto auto;
    @media screen and (max-width: 893px) {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
  }
  .container__intro__text {
    width: 75%;
    @media screen and (max-width: 893px) {
      width: 100vw;
    }
  }
  
  .container__intro__text,
  .container__links__header,
  .container__logo__header {
    padding: 0 80px;
    max-width: 1477px;
    margin: auto;
    @media screen and (max-width: 1447px) {
      padding: 0 40px;
    }
    @media only screen and (max-width: 768px) {
      padding: 0 30px;
    }
    .text__intro {
      padding: 70px 0 10px 40px;
      @media screen and (max-width: 893px) {
        padding: 40px 0px;
      }
    }
  }
  .container__links__header {
    width: 100%;
    @media screen and (max-width: 893px) {
      width: 100vw;
    }
    @media screen and (min-width: 893px) {
      margin-top: 0px;
    }
  }
  .container__links__header {
    > div {
      padding: 10px 0;
    }
    a.link__contact .link__text,
    div.link__video .link__text {
      padding: 10px 0;
      cursor: pointer;
      text-decoration: none;
      color: black;
      background-image: linear-gradient($mediamarkt, $mediamarkt);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size 0.3s;
      &:hover,
      &:focus {
        background-size: 100% 1px;
      }
    }
  }