.row:after, .row:before {
  display: table;
  content: " ";
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.servicios {
  padding: 0 1em;
  margin: 1em 0;
}

.basic {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  z-index: 1;
}

.servicios a {
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.servicios .col-xs-6 {
  width: 49%;
  width: -moz-calc(50% - 7px);
  width: -webkit-calc(50% - 7px);
  width: calc(50% - 7px);
  margin: 0 0 1em 0px;
  float: left;
}

.servicios .col-xs-6 a {
  border: 2px solid #a9a9a9;
  display: inline-block;
  line-height: normal;
  padding: 0.5em;
  border-radius: 10px;
}

.servicios .col-xs-6 a.active {
  border: 2px solid #df0000;
  position: relative;
  z-index: 1
}

.servicios .col-xs-6 a.active span {
  color: #df0000
}

.servicios .col-xs-6 a.active:before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: -3px;
  right: -6px;
  z-index: 2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px
}

.servicios .col-xs-6 a.active:after {
  font-family: "ff_icons", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  content: "\e6cc";
  color: #df0000;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 3
}

.servicios .out-house a {
  padding: 0 1.5em;
  line-height: 17px
}

.servicios .internet--tv-mobile a {
  padding: 0 2.2em;
  line-height: 17px
}

.servicios .col-xs-6:nth-child(odd) {
  margin: 0 7px 1em 0
}

.servicios a *, .servicios span {
  color: #000
}

@media (min-width: 500px) {
  .servicios .col-xs-6 a {
      line-height: normal;
      padding: 0.5em
  }
}

@media (min-width: 768px) {
  .node-538 [class*="col"] {
      padding: inherit
  }
  .servicios {
      padding: 0 2em
  }
  .servicios .col-xs-6 {
      width: inherit
  }
  .servicios .col-sm-4 {
      padding: inherit;
      margin: inherit;
      width: 33.33333333%
  }
  .servicios .col-md-3 {
      padding: inherit;
      margin: inherit
  }

}

@media (min-width: 992px) {
    .servicios {
        padding: 0 2.4em
    }
    .servicios .col-md-3 {
        padding: inherit;
        margin: inherit;
        width: 25%
    }
    .servicios .col-xs-6 a {
        padding: 0.9em 0.5em
    }
}

@media (min-width: 1200px) {
    .servicios {
        padding: 0 3em
    }
    .servicios .col-lg-2 {
        width: 20%;
        padding-right: 15px;
        padding-left: 15px
    }
    .servicios .col-lg-2 a {
        width: 100%
    }
}