.container__sliderbig {
  margin: 0px 0px 60px 0px;
  .sliderbig__card {
    .slick-slider {
      height: 300px;
      margin: auto;
      max-width: 1315px;
      .slick-prev {
        border-radius: 4px;
        left: 1%;
        width: 50px;
        height: 50px;
        background-color: black;
        z-index: 25;
        color: white;
        &:before {
          content: "<";
          color: white !important;
          font-family: monospace;
          font-size: 40px;
          font-weight: bold !important;
          opacity: 1 !important;
          line-height: 0.5 !important;
          display: flex;
          justify-content: center;
        }
      }
      .slick-next {
        border-radius: 4px;
        right: 1%;
        width: 50px;
        height: 50px;
        background-color: black;
        z-index: 25;
        color: white;
        &:before {
          content: ">";
          color: white !important;
          font-family: monospace;
          font-size: 40px;
          font-weight: bold !important;
          opacity: 1 !important;
          line-height: 0.5 !important;
          display: flex;
          justify-content: center;
        }
      }
    }
    .slick-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 330px;
      .slick-slide {
        height: 300px;
        padding: 0 0.8vw;
      }
      .slick-list {
        padding: 50px;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  color: $mediamarkt !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
}
.slick-dots {
  bottom: -50px !important;
}
.slick-dots li {
  width: 16px !important;
  transition: width 0.3s ease-in-out !important;
}

.slick-dots .slick-active {
  transition: width 0.3s ease-in-out !important;
  margin-right: 8px !important;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  height: 16px !important;
  width: 16px !important;
  opacity: 1 !important;
  top: 0px !important;
  overflow: hidden !important;
  background-color: $mediamarkt !important;
  font-size: 16px !important;
}
