// VARIABLES

// Develop environtment
$DEV : true;

$ligth-color: #F4F4F4;
$main_color : #df0000;
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$desktop-background: "https://specials.mediamarkt.es/assets-react/b2b-llave-mano/SH_proyectos1.png";
$tablet-background: "https://specials.mediamarkt.es/assets-react/b2b-llave-mano/Sh_proyectos2.png";
$mobile-background: "https://specials.mediamarkt.es/assets-react/b2b-llave-mano/sh_proyectos3.png";



$assetPath : "/assets/images"; 