// VARIABLES

// Develop environtment
$DEV : true;

$ligth-color: #F4F4F4;
$main_color : #df0000;
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$desktop-background: "https://specials.mediamarkt.es/assets-react/b2b-alquiler/SH_alquiler1.png";
$tablet-background: "https://specials.mediamarkt.es/assets-react/b2b-alquiler/Sh_alquiler2.png";
$mobile-background: "https://specials.mediamarkt.es/assets-react/b2b-alquiler/sh_alquiler3.png";



$assetPath : "/assets/images"; 