// VARIABLES

// Develop environtment
$DEV : true;


$main_color : #df0000;
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$desktop-background: "https://specials.mediamarkt.es/assets-react/b2b-soluciones-financieras/header/062007_Imágenes B2B soluciones financieras_HEADER1_2994x800.png";
$tablet-background: "https://specials.mediamarkt.es/assets-react/b2b-soluciones-financieras/header/062007_Imágenes B2B soluciones financieras_HEADER1_1800x600.png";
$mobile-background: "https://specials.mediamarkt.es/assets-react/b2b-soluciones-financieras/header/062007_Imágenes B2B soluciones financieras_HEADER1_768x304.png";



$assetPath : "/assets/images"; 