
// VARIABLES

// Develop environtment
$DEV : true;


$main_color : #ffff;
$header-bg-img-desktop: "";
$header-bg-img-tablet: "";
$header-bg-img-mobile: "";
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$desktop-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/0221233-cabecera_Desktop_2994x800.png";
$tablet-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/0221233_WelcomeBonus_NuevaWeb_800x600_AAFF.png";
$mobile-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/0221233_WelcomeBonus_NuevaWeb_900x356_AAFF.png";



$assetPath : "/assets/images"; 