
// VARIABLES

// Develop environtment
$DEV : true;


$main_color : #df0000;
$header-bg-img-desktop: "";
$header-bg-img-tablet: "";
$header-bg-img-mobile: "";
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$assetPath : "/assets/images"; 