
// VARIABLES

// Develop environtment
$DEV : true;


$main_color : #ffff;
$header-bg-img-desktop: "";
$header-bg-img-tablet: "";
$header-bg-img-mobile: "";
$placeholder-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/image_placeholder.png";
$desktop-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/201121_BANNERS_WEB_NEWSLETTER_sorteo_2994x800px.png";
$tablet-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/201121_BANNERS_WEB_NEWSLETTER_sorteo_900x356.png";
$mobile-background: "https://specials.mediamarkt.es/assets-react/welcome-bonus/201121_BANNERS_WEB_NEWSLETTER_sorteo_900x356.png";



$assetPath : "/assets/images"; 