.container-fluid {
  padding: 0px !important;
}

.mobile-version .wrapper .page-container {
  margin-top: 0% !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.mobile-version input#tlegal-terms {
  -webkit-appearance: checkbox !important;
}

#wrp_widgets,
#widget_news {
  display: none !important;
}

#rise-header {
  .ms-header2-sticky-spacer {
    display: none;
  }
}

.header {
  padding: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

#content {
  padding: 0px !important;
}

.ms-header2-sticky-spacer {
  height: 0px !important;
}

@media (min-width: 31.875em) and (max-width: 46.865em) {
  .ms-header2-sticky-spacer {
    height: 0px !important;
  }
}

@media (min-width: 61.875em) and (max-width: 76.865em) {
  .ms-header2-sticky-spacer {
    height: 0px !important;
  }
}

.mobile-version .wrapper {
  margin: 0px !important;
  max-width: none !important;
}

input[type=text]:not(.ms-textfield):not(.disabled):not(.readonly){
  box-shadow: none;
}
input[type=text]:not(.ms-textfield){
  border: none;
}

#page-footer.footer .line-2>ul>li.newsletter form.newsletter-form input, .cms-products-grid .ct-products-grid>li .cart-checkbox input+label:before, .facet-search-container input:not(.disabled):not(.readonly), .filters-content .facet-search-container input, input[type=email], input[type=password]:not(.ms-textfield):not(.disabled):not(.readonly), input[type=search]:not(.ms-textfield):not(.disabled):not(.readonly), input[type=text]:not(.ms-textfield):not(.disabled):not(.readonly), select:not(.ms-select):not(.disabled):not(.readonly), textarea:not(.ms-textarea):not(.disabled):not(.readonly){
  box-shadow: none;
}

input[type=email]{
  box-shadow: none;
}
