.container-fluid {
    padding: 0px !important;
}

.mobile-version .wrapper .page-container {
    margin-top: 0% !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#root input[type=checkbox], input[type=radio]{
    -webkit-appearance: auto !important;
}

#root input[type=text]:not(.ms-textfield):not(.disabled):not(.readonly){
    box-shadow: none !important;
    border: 0px !important;
}
#root input[type=email], select{
    border: 0px !important;
}

#wrp_widgets, #widget_news {
    display: none !important;
}

#rise-header {
    .ms-header2-sticky-spacer {
        display: none;
    }
}

.header {
    padding: 0px !important;
}

#content {
    padding: 0px !important;
}

.ms-header2-sticky-spacer {
    height: 0px !important;
}

@media (min-width: 31.875em) and (max-width: 46.865em) {
    .ms-header2-sticky-spacer {
        height: 0px !important;
    }
}

@media (min-width: 61.875em) and (max-width: 76.865em) {
    .ms-header2-sticky-spacer {
        height: 0px !important;
    }
}

.mobile-version .wrapper {
    margin: 0px!important;
    max-width: none!important;
    select {
        background-color: transparent!important;
    }
}

button, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
    font-size: 15px!important;
    // color: black!important;
    // line-height: inherit;
}
select {
    padding-left: 5px!important;
    color: black!important;

}

// select > option.option__select {
//     color: #ff0000;
// }

// select:disabled {
//     // color: #4c4c4c;
//     color: red!important;
// }